<div class="col-md-4 feature-col">
    <a class="feature-card" href="<%= feature_link %>">
      <h4><%= title %></h4>
        <img src="<%= image_url(img_src) %>" alt="<%= img_alt %>"></img>
        <section class="card-body">
          <div class="card-body-content">
            <object class="card-icon">
              <article class="chorelist">
                <h3 class="list-header">Family Messaging</h3>
                  <ul class="chores-remaining">
                    <li class="chore">
                      <!-- <div class="checkbox">
                        <label class="checkbox-label checkbox-label-disabled">
                          <span class="checkbox-button"></span>
                        </label>
                          <span class="checkbox-content"></span>
                        </div> -->
                      </li><!-- chore-->
                    </ul>
                  </article>
                </object>
              </div>
          <p><%= description %></p>
        </section><!--card-body -->
      </a>
    </div>
