
<main class="container home">
  <div class="row home-header">
    <div class="col-md-1 mr-auto">
      <button id="new-room-button" class="btn btn-primary mr-auto">ADD Room</button>
      <div id="new-room-popover" class="room-popover is-hidden">
        <%= form_for([@room, @list]) do |f| %>
        <div class="form-group">
          <%= f.text_field :list_title, class: "form-control", id: "room-title-input", placeholder:"Chore List", autoFocus: true %>
        </div>
          <%= f.submit "Save", class: "btn btn-success" %>
        <button id="cancel-room-popover" class="btn btn-secondary">Cancel</button>
        <% end %>
      </div>
    </div>
      <div class="col-md-4">
        <h3 class="text-center header-for-rooms"><%= @room.title %></h3>
      </div>
      <div class="col-md-1 ml-auto">
      </div>
    </div>
    <div id="room-list" class="row home-rooms">
      <% @room.lists.each do |list| %>
        <%= render "list_card", list: list %>
      <% end %>
  </div>
</main>
