<nav class="navbar navbar-expand-lg justify-content-between">
  <%= link_to 'LOGO', root_path, class: "navbar-brand" %>
  <ul class="navbar-nav align-self-center">

  </ul>
  <ul class="navbar-nav align-self-center">
    <% if user_signed_in? %>
    Welcome <strong><%= current_user.name %></strong>
      <li class="nav-item">
        <%= link_to "ACCOUNT", edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "SIGN UP", signup_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "LOG IN", login_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
</nav>
